/* Закрепленный header */
header {
    background-color: #343a40;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Стили для контента под header, чтобы не перекрывал шапку */
body {
    padding-top: 70px;
    /* Высота header */
}

header a.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

header form input {
    border: 2px solid #fff;
    background-color: #495057;
    color: #fff;
}

header form input::placeholder {
    color: #adb5bd;
}

header form button {
    border: 2px solid #fff;
    background-color: #343a40;
    color: #fff;
}

/* Закрепленный footer */
footer {
    background-color: #343a40;
    color: #adb5bd;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/* Стили для контента над футером, чтобы не перекрывал его */
body {
    padding-bottom: 60px;
    /* Высота footer */
}

footer a {
    color: #adb5bd;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}