{% extends "base.html" %}


{% block content %}
<div class="container">
    <h2 class="text-center">Добро пожаловать в панель мониторинга <a href="/ovpn"
            class="text-decoration-none fancy-link">OpenVPN</a> и <a href="/wg" class="fancy-link text-decoration-none">WireGuard</a></h2>
    <p class="text-center">Это приложение позволяет отслеживать статистику подключений и трафика для серверов OpenVPN и
        WireGuard.</p>
    <!-- <div class="row text-center">
        <div class="col-md-6 mb-4">
            <a href="/ovpn" class="card shadow-sm text-decoration-none">
                <div class="card-body card-main">
                    <h3 class="card-title">OpenVPN</h3>
                    <p class="card-text">Просмотр статистики подключений OpenVPN, включая IP-адреса и объем трафика.</p>
                    <button class="btn btn-primary mb-3">Перейти к статистике OpenVPN</button>
                </div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="/wg" class="card shadow-sm text-decoration-none">
                <div class="card-body  card-main">
                    <h3 class="card-title">WireGuard</h3>
                    <p class="card-text">Просмотр статистики подключений WireGuard с подробной информацией о
                        пользователях.</p>
                    <button class="btn btn-primary mb-3">Перейти к статистике WireGuard</button>
                </div>
            </a>
        </div>
    </div> -->

    <!-- Информация о сервере -->
    <div class="mt-3 p-3 border rounded" style="margin: auto;">
        <h4 class="text-center">Системные метрики:</h4>
        <p class="text-center text-muted small">Сервер: <span class="text-success">{{server_ip}}</span>@{{ hostname}}
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Время работы сервера:</h5>
                        <p class="card-text"><span id="server_uptime">Загрузка...</span></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Загрузка ЦП:</h5>
                        <p class="card-text"><span id="cpu_load">Загрузка...</span>%</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Использование ОЗУ:</h5>
                        <p class="card-text"><span id="memory_used">Загрузка...</span> MB / <span id="memory_total">{{
                                system_info.memory_total }}</span> MB</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Использование диска:</h5>
                        <p class="card-text"><span id="disk_used">Загрузка...</span> GB / <span id="disk_total">{{
                                system_info.disk_total }}</span> GB</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Сетевая загрузка:</h5>
                        <div id="network_load">Загрузка...</div>
                    </div>
                </div>
            </div>
        <h4 class="text-center mb-4">Статистика по интерфейсу: <span id="network_interface">Загрузка...</span></h4>
            <div class="col-12 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Принятые данные:</h5>
                        <p class="card-text"><span id="rx_bytes">Загрузка...</span></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Переданные данные:</h5>
                        <p class="card-text"><span id="tx_bytes">Загрузка...</span></p>
                    </div>
                </div>
            </div>           
    </div>
</div>

<script src="{{ url_for('static', filename='js/main_page.js') }}"></script>

{% endblock %}