<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenVPN Dashboard - Вход</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body class="text-center">

    <div class="container d-flex justify-content-center align-items-center vh-10">
        <div class="col-md-3">
            <h2 class="mb-3 text-center">Antizapret VPN</h2>
            <form method="post" action="" class="form-signin">
                {{ form.hidden_tag() }}

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Введите имя пользователя"
                        maxlength="20" minlength="2" name="username" required value="admin">
                    <label for="username">Имя пользователя</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Введите пароль"
                        name="password" required>
                    <label for="password">Пароль</label>
                </div>


                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" id="submit">Вход</button>
                <a href="#" class="text-muted" onclick="showPasswordHint(event)">Забыли пароль?</a>
                <p id="passwordHint" class="text-muted mt-2" style="display: none;">
                    Для смены пароля обратитесь к администратору системы или воспользуйтесь <a href="https://github.com/TheMurmabis/StatusOpenVPN/tree/main?tab=readme-ov-file#%D1%81%D0%BC%D0%B5%D0%BD%D0%B0-%D0%BF%D0%B0%D1%80%D0%BE%D0%BB%D1%8F" target="_blank">командой</a> в терминале.
                </p>
            </form>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function showPasswordHint(event) {
            event.preventDefault(); // Остановить переход по ссылке
            document.getElementById("passwordHint").style.display = "block"; // Показать текст
        }
    </script>
</body>

</html>