{% extends "base.html" %}

{% block title %}OpenVPN{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Клиенты OpenVPN</h2>
</div>

<div class="tabs">
    <a href="{{ url_for('ovpn') }}" class="tab {% if active_page == 'clients' %}active{% endif %}">Клиенты</a>
    <a href="{{ url_for('ovpn_history') }}" class="tab {% if active_page == 'history' %}active{% endif %}">История</a>
    <a href="{{ url_for('ovpn_stats') }}" class="tab {% if active_page == 'stats' %}active{% endif %}">Статистика</a>
</div>

{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% else %}

<div>
    <div class="control-panel">
        <div class="control-item" title="Показать реальные IP">
            <label class="form-check-label" for="show-ip-checkbox">
                <input type="checkbox" id="show-ip-checkbox" class="form-check-input">
                Показать IP
            </label>
        </div>
        <div class="control-item" title="Показать скорость">
            <label class="form-check-label" for="show-columns-checkbox">
                <input type="checkbox" id="show-columns-checkbox" class="form-check-input">
                Показать скорость
            </label>
        </div>
    </div>
    <div class="table-responsive ovpn_table w-100">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th class="text-center sortable">
                        <a
                            href="{{ url_for('ovpn', sort='client', order='asc' if sort_by != 'client' or order == 'desc' else 'desc') }}">
                            Клиент
                            {% if sort_by == 'client' %}
                            <i class="fa {{ 'fa-sort-amount-asc' if order == 'desc' else 'fa-sort-amount-desc' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center sortable">
                        <a
                            href="{{ url_for('ovpn', sort='realIp', order='asc' if sort_by != 'realIp' or order == 'desc' else 'desc') }}">
                            Реальный IP
                            {% if sort_by == 'realIp' %}
                            <i class="fa {{ 'fa-sort-amount-asc' if order == 'desc' else 'fa-sort-amount-desc' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center sortable">
                        <a
                            href="{{ url_for('ovpn', sort='localIp', order='asc' if sort_by != 'localIp' or order == 'desc' else 'desc') }}">
                            Локальный IP
                            {% if sort_by == 'localIp' %}
                            <i class="fa {{ 'fa-sort-amount-asc' if order == 'desc' else 'fa-sort-amount-desc' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center sortable">
                        <a
                            href="{{ url_for('ovpn', sort='sent', order='asc' if sort_by != 'sent' or order == 'desc' else 'desc') }}">
                            Передано
                            {% if sort_by == 'sent' %}
                            <i class="fa {{ 'fa-sort-amount-asc' if order == 'desc' else 'fa-sort-amount-desc' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center sortable">
                        <a
                            href="{{ url_for('ovpn', sort='received', order='asc' if sort_by != 'received' or order == 'desc' else 'desc') }}">
                            Получено
                            {% if sort_by == 'received' %}
                            <i class="fa {{ 'fa-sort-amount-asc' if order == 'desc' else 'fa-sort-amount-desc' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center speed-column hidden">Скорость<br>получения</th>
                    <th class="text-center speed-column hidden">Скорость<br>передачи</th>
                    <th class="text-center">
                        <a
                            href="{{ url_for('ovpn', sort='connection-time', order='asc' if sort_by != 'connection-time' or order == 'desc' else 'desc') }}">
                            Подключен
                            {% if sort_by == 'connection-time' %}
                            <i class="fa {{ 'fa-sort-amount-asc' if order == 'desc' else 'fa-sort-amount-desc' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center">
                        <a
                            href="{{ url_for('ovpn', sort='duration', order='asc' if sort_by != 'duration' or order == 'desc' else 'desc') }}">
                            Длительность
                            {% if sort_by == 'duration' %}
                            <i class="fa {{ 'fa-sort-amount-asc' if order == 'desc' else 'fa-sort-amount-desc' }}"></i>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center">
                        <a
                            href="{{ url_for('ovpn', sort='protocol', order='asc' if sort_by != 'protocol' or order == 'desc' else 'desc') }}">
                            Протокол
                            {% if sort_by == 'protocol' %}
                            <i class="fa {{ 'fa-sort-amount-asc' if order == 'desc' else 'fa-sort-amount-desc' }}"></i>
                            {% endif %}
                        </a>
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for client in clients if client[0] != 'UNDEF' %}
                <tr class="text-center log-row">
                    <td class="text-center">{{ client[0] }}</td>
                    {% set ip_segments = client[1].split(':')[0].split('.') %}
                    <td class="text-center real-ip-cell" data-real-ip="{{ client[1] }}"
                        data-masked-ip="{{ ip_segments[0]|int }}.***.***.{{ ip_segments[-1]|int }}">
                        {{ ip_segments[0]|int }}.***.***.{{ ip_segments[-1]|int }}
                    </td>
                    <td class="text-center">{{ client[2] }}</td>
                    <td class="text-center">{{ client[3] }}</td>
                    <td class="text-center">{{ client[4] }}</td>
                    <td class="text-center speed-column hidden">{{ client[5] }}</td>
                    <td class="text-center speed-column hidden">{{ client[6] }}</td>
                    <td class="text-center connection-time" data-utc="{{ client[7] }}">{{ client[7] }}</td>
                    <td class="text-center">{{ client[8] }}</td>
                    <td class="text-center">{{ client[9] }}</td>
                </tr>
                {% endfor %}
                <tr class="table-dark text-left">
                    <td colspan="3">Онлайн: {{ total_clients_str }}</td>
                    <td class="text-center">{{ total_received }}</td>
                    <td class="text-center">{{ total_sent }}</td>
                    <td colspan="5"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endif %}

<script src="{{ url_for('static', filename='js/ovpn_page.js') }}"></script>

{% endblock %}