{% extends "base.html" %}

{% block title %}OpenVPN{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Клиенты OpenVPN</h2>
</div>

{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% else %}

<div class="control-panel">
    <div class="control-item" title="Показать реальные IP">
        <label class="form-check-label" for="show-ip-checkbox">
            <input type="checkbox" id="show-ip-checkbox" class="form-check-input">
            Показать IP
        </label>
    </div>
    <div class="control-item" title="Показать скорость">
        <label class="form-check-label" for="show-columns-checkbox">
            <input type="checkbox" id="show-columns-checkbox" class="form-check-input">
            Показать скорость
        </label>
    </div>
</div>
<div class="table-responsive main_table w-100">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Клиент</th>
                <th class="text-center">Реальный IP</th>
                <th class="text-center">Локальный IP<br></th>
                <th class="text-center">Передано</th>
                <th class="text-center">Получено</th>
                <th class="text-center speed-column hidden">Скорость загрузки</th>
                <th class="text-center speed-column hidden">Скорость отдачи</th>
                <th class="text-center">Подключен</th>
                <th class="text-center">Длительность</th>
                <th class="text-center">Протокол</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr class="text-center">
                <td class="text-center">{{ client[0] }}</td>
                {% set ip_segments = client[1].split(':')[0].split('.') %}
                <td class="text-center real-ip-cell" data-real-ip="{{ client[1] }}"
                    data-masked-ip="{{ ip_segments[0]|int }}.***.***.{{ ip_segments[-1]|int }}">
                    {{ ip_segments[0]|int }}.***.***.{{ ip_segments[-1]|int }}
                </td>
                <td class="text-center">{{ client[2] }}</td>
                <td class="text-center">{{ client[3] }}</td>
                <td class="text-center">{{ client[4] }}</td>
                <td class="text-center speed-column hidden">{{ client[5] }}</td>
                <td class="text-center speed-column hidden">{{ client[6] }}</td>
                <td class="text-center connection-time" data-utc="{{ client[7] }}">{{ client[7] }}</td>
                <td class="text-center">{{ client[8] }}</td>
                <td class="text-center">{{ client[9] }}</td>
            </tr>
            {% endfor %}
            <tr class="table-dark text-left">
                <td colspan="3">Онлайн: {{ total_clients_str }}</td>
                <td class="text-center">{{ total_received }}</td>
                <td class="text-center">{{ total_sent }}</td>
                <td colspan="5"></td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}

<script src="{{ url_for('static', filename='js/ovpn_page.js') }}"></script>

{% endblock %}