{% extends "base.html" %}

{% block title %}WireGuard{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Клиенты WireGuard</h2>
    <div class="d-flex align-items-center gap-4">
        <label class="switch d-flex align-items-center gap-2 mb-0">
            <input type="checkbox" id="auto-refresh-toggle">
            <span class="slider round"></span>
            <span title="Автообновление данных страницы каждые 3 сек.">Автообновление</span>
        </label>
        <label class="switch d-flex align-items-center gap-2 mb-0">
            <input type="checkbox" id="online-only-toggle">
            <span class="slider round"></span>
            <span title="Скрывать оффлайн клиентов">Только онлайн</span>
        </label>
    </div>
</div>
<div id="no-active-clients" class="card text-center shadow-sm my-4">
    <div class="card-body">
        <h5 class="card-title">Нет активных подключений</h5>
        <p class="card-text text-muted">Клиенты оффлайн, статистика появится при подключении.</p>
    </div>
</div>
<div id="wg-stats-container">
    {% for interface in stats %}
    <div class="table-responsive w-100 mb-4">
        <table class="table align-middle text-center">
            <thead>
                <tr>
                    <th colspan="3" class="text-start fs-5 align-middle">
                        <div class="d-flex align-items-center flex-wrap">
                            <span class="me-2">
                                Интерфейс: {{ interface.interface.upper() if interface.interface|lower == 'vpn' else
                                interface.interface|capitalize }}
                            </span>
                            <span class="badge bg-dark">
                                <strong> {{ interface.peers | selectattr('online') | list | length }}</strong>
                                / <strong>{{ interface.peers | length }}</strong>
                            </span>
                        </div>
                    </th>
                    <th colspan="2" class="d-none d-sm-table-cell"></th>
                    <th colspan="2" class="d-none d-sm-table-cell" title="Суточная статистика">Сегодня</th>
                    <th colspan="2" title="Итоговая статистика">Всего</th>
                </tr>
                <tr>
                    <th>Статус</th>
                    <th>Клиент</th>
                    <th class="d-none d-sm-table-cell">Реальный IP</th>
                    <th class="d-none d-sm-table-cell">Локальный IP</th>
                    <th class="d-none d-md-table-cell" style="width: 200px;">Рукопожатие</th>
                    <th class="d-none d-sm-table-cell" title="Передано клиенту">Получено</th>
                    <th class="d-none d-sm-table-cell" title="Получено от клиента">Передано</th>
                    <th title="Передано клиенту">Получено</th>
                    <th title="Получено от клиента">Передано</th>
                </tr>
            </thead>
            <tbody id="tbody-{{ interface.interface }}">
                {% for peer in interface.peers %}
                <tr class="{{ 'traffic-online ' if peer.online else 'traffic-offline wg_table' }}">
                    <td>
                        <div class="d-flex flex-column align-items-center">
                            <span>
                                <small class="{{ 'text-success' if peer.online else 'traffic-offline' }} fs-8">
                                    {{ 'Онлайн' if peer.online else 'Офлайн' }}
                                </small>
                            </span>
                        </div>
                    </td>
                    <td title="Peer: {{ peer.masked_peer }}">{{ peer.client }}</td>
                    <td class="d-none d-sm-table-cell">{{ peer.endpoint or 'N/A' }}</td>
                    <td class="d-none d-sm-table-cell">
                        {% for ip in peer.visible_ips %}
                        <span>{{ ip }}</span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        {% if peer.hidden_ips %}
                        <div class="hidden-ips" style="display:none;">
                            {% for ip in peer.hidden_ips %}
                            <span>{{ ip }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                        <a href="#" class="btn btn-link p-0 small" onclick="toggleIps({{ loop.index }})">
                            Показать все
                        </a>
                        {% endif %}
                    </td>
                    <td class="d-none d-sm-table-cell">{{ peer.latest_handshake or 'N/A' }}</td>
                    <td class="d-none d-sm-table-cell">{{ peer.daily_received or '0.0' }}</td>
                    <td class="d-none d-sm-table-cell">{{ peer.daily_sent or '0.0' }}</td>
                    <td>{{ peer.received or '0.0' }}</td>
                    <td>{{ peer.sent or '0.0' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/wg_page.js') }}"></script>
{% endblock %}