{% extends "base.html" %}

{% block title %}Список клиентов WireGuard{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Клиенты WireGuard</h1>
</div>

{% for interface in stats %}

<div class="table-responsive main_table">
    
    <h2>Interface: {{ interface.interface }}</h2>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th class="text-center">Peer (masked)</th>
                <th class="text-center">Endpoint</th>
                <th class="text-center">Allowed IPs</th>
                <th class="text-center">Latest Handshake</th>
                <th class="text-center">Received</th>
                <th class="text-center">Sent</th>
            </tr>
        </thead>
        <tbody>
            {% for peer in interface.peers %}
            <tr>
                <td class="text-center">{{ peer.masked_peer }}</td>
                <td class="text-center">{{ peer.endpoint or 'N/A' }}</td>
                <td class="text-center">{{ peer.allowed_ips }}</td>
                <td class="text-center">{{ peer.latest_handshake or 'N/A' }}</td>
                <td class="text-center">{{ peer.received or 'N/A' }}</td>
                <td class="text-center">{{ peer.sent or 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}