{% extends "base.html" %}

{% block title %}WireGuard{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Клиенты WireGuard</h2>
    <label class="switch">
        <input type="checkbox" id="auto-refresh-toggle">
        <span class="slider round"></span>
        <span title="Автобновление данных страницы каждые 3 сек.">Автобновление</span>
    </label>
</div>

<div class="wg-container">
    <div class="wg-clients">
        {% for interface in stats %}
        <div class="interface-section" data-interface="{{ interface.interface }}">
            <div class="interface-card">
                <h2 class="interface-header text-center">{{ interface.interface }}
                    <span class="interface-stats">
                        [<span title="Онлайн">{{ interface.peers|selectattr('online')|list|length }}/</span><span
                            title="Клиентов">{{ interface.peers|length }}</span>]
                    </span>
                </h2>
                <div class="client-grid">
                    {% for peer in interface.peers %}
                    <div class="wg-client-card card-style {{ 'online' if peer.online else 'offline' }}">
                        <div class="client-header">
                            <div class="client-name-status">
                                <div class="status-dot {{ 'dot-online' if peer.online else 'dot-offline' }}"></div>
                                <h4 class="{{ 'traffic-online' if peer.online else 'traffic-offline' }}">{{ peer.client }}</h4>
                            </div>
                            <div class="client-actions {{ 'traffic-online' if peer.online else 'traffic-offline' }}">
                                <i class="fas fa-user"></i>
                                <!-- <button class="icon-btn" title="Скачать конфиг"><i class="fas fa-download"></i></button>
                                <button class="icon-btn" title="Показать QR-код"><i class="fas fa-qrcode"></i></button> -->
                            </div>
                        </div>

                         <div class="client-details {{ 'traffic-online' if peer.online else 'traffic-offline' }}">
                            <div class="detail-row"><span>IP-адрес:</span> {{ peer.visible_ips[0] }}</div>
                            <div class="detail-row"><span>Реальный IP:</span>{{ peer.endpoint or 'N/A' }}</div>
                            <div class="detail-row"><span>{{ 'В сети: ' if peer.online else 'Не в сети: ' }}</span> {{
                                peer.latest_handshake or 'Нет данных' }}</div>
                        </div>

                        <div class="traffic-bars">
                            <!-- <div class="progress-bar">
                                <div class="progress-fill"
                                    style="width: {{ peer.traffic_percentage }}%; background-color: {{ 'green' if peer.online else 'gray' }}">
                                </div>
                            </div> -->
                            <div class="progress-container">
                                <div title="Получено от клиента ({{ peer.received_percentage }}%)"
                                    class="progress-fill {{'received-fill-online' if peer.online else 'received-fill-offline'}}"
                                    style="width: {{ peer.received_percentage }}%; ">
                                </div>
                                <div title="Передано клиенту ({{ peer.sent_percentage }}%)"
                                    class="progress-fill {{'sent-fill-online' if peer.online else 'sent-fill-offline'}}"
                                    style="width: {{ peer.sent_percentage }}%; ">
                                </div>
                            </div>
                            <div class="traffic-labels {{ 'traffic-online' if peer.online else 'traffic-offline' }}">
                                <span title="Получено от клиента ({{ peer.received_percentage }}%)"><i
                                        class="fas fa-arrow-down"></i> {{ peer.received or 0.0 }}</span>
                                <span title="Передано клиенту ({{ peer.sent_percentage }}%)"><i
                                        class="fas fa-arrow-up"></i> {{ peer.sent or 0.0 }} </span>
                            </div>

                            <!-- Суточный прогресс -->
                            <hr>
                            <div
                                class="traffic-labels small {{ 'traffic-online' if peer.online else 'traffic-offline' }}">
                                <span><i class="fas fa-calendar-day"></i> Сегодня: ↓ {{ peer.daily_received }}</span>
                                <span>↑ {{ peer.daily_sent }}</span>
                            </div>
                        </div>

                        {% if peer.hidden_ips %}
                        <details class="ip-toggle">
                            <summary>Доп. IP</summary>
                            <div class="ip-list">
                                {% for ip in peer.hidden_ips %}<span>{{ ip }}</span>{% endfor %}
                            </div>
                        </details>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<div class="modal" id="client-modal"></div>

<script src="{{ url_for('static', filename='js/wg_page.js') }}"></script>


{% endblock %}